# package directories
jspm_packages

# Serverless directories/
blog/node_modules/
blog/.serverless/
blog/coverage/
blog/dist/
crossword/node_modules/
crossword/.serverless/
crossword/coverage/
crossword/dist/
./idea